<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NewsWebApp</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

  <nav class="flex bg-white flex-wrap items-center justify-between p-4 fixed w-full">
    <div class="lg:order-2 w-auto lg:w-1/5 lg:text-center">
      <a class="text-xl text-gray-800 font-semibold font-heading" href="/news">
        NewsWebApp
      </a>
    </div>
    <div class="block lg:hidden">
      <button id="nav-toggle"
        class="navbar-burger flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>
            Menu
          </title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z">
          </path>
        </svg>
      </button>
    </div>
    <div id="nav-content1" class="navbar-menu hidden lg:order-1 lg:block w-full lg:w-2/5">
      <a class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-indigo-600" href="/news?cat=science">
        Science
      </a>
      <a class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-indigo-600" href="/news?cat=startup">
        Startup
      </a>
      <a class="block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-indigo-600" href="/news?cat=india">
        India
      </a>
    </div>
    <div id="nav-content2" class="navbar-menu hidden lg:order-3 lg:block w-full lg:w-2/5 lg:text-right">
      <a class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-indigo-600" href="/news?cat=business">
        Business
      </a>
      <a class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-indigo-600" href="/news?cat=entertainment">
        Entertainment
      </a>
      <a class="block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-indigo-600" href="/news?cat=hatke">
        Hatke
      </a>
    </div>
  </nav>


<br><br><br>
  <!-- <div class="flex bg-indigo-200 justify-center">
        <div class="grid grid-cols-2 gap-4">
            
        </div>
    </div> -->


  <!-- <section class="text-blueGray-700 ">
        <div class="container items-center px-5 py-8 mx-auto lg:px-24">
          <div class="flex flex-wrap mb-12 text-left">
            <div class="w-full p-4 mx-auto lg:w-1/3">
              <div class="p-4 lg:p-8 rounded-xl bg-blueGray-50">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mx-auto mb-5 text-black bg-blueGray-100 rounded-full">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 icon icon-tabler icon-tabler-aperture" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="9"></circle>
                    <line x1="3.6" y1="15" x2="14.15" y2="15"></line>
                    <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(72 12 12)"></line>
                    <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(144 12 12)"></line>
                    <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(216 12 12)"></line>
                    <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(288 12 12)"></line>
                  </svg>
                </div>
                <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-black lg:text-3xl title-font"> Short length headline. </h1>
                <p class="mx-auto text-base font-medium leading-relaxed text-blueGray-700 ">You're about to launch soon and must be 100% focused on your product. Don't loose precious days designing, coding the landing page and testing . </p>
              </div>
            </div>
            <div class="w-full p-4 mx-auto lg:w-1/3">
              <div class="p-4 lg:p-8 rounded-xl bg-blueGray-50">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mx-auto mb-5 text-black bg-blueGray-100 rounded-full">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 icon icon-tabler icon-tabler-aperture" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="9"></circle>
                    <line x1="3.6" y1="15" x2="14.15" y2="15"></line>
                    <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(72 12 12)"></line>
                    <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(144 12 12)"></line>
                    <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(216 12 12)"></line>
                    <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(288 12 12)"></line>
                  </svg>
                </div>
                <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-black lg:text-3xl title-font"> Short length headline. </h1>
                <p class="mx-auto text-base font-medium leading-relaxed text-blueGray-700 ">You're about to launch soon and must be 100% focused on your product. Don't loose precious days designing, coding the landing page and testing . </p>
              </div>
            </div>
            <div class="w-full p-4 mx-auto lg:w-1/3">
              <div class="p-4 lg:p-8 rounded-xl bg-blueGray-50">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mx-auto mb-5 text-black bg-blueGray-100 rounded-full">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 icon icon-tabler icon-tabler-aperture" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="9"></circle>
                    <line x1="3.6" y1="15" x2="14.15" y2="15"></line>
                    <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(72 12 12)"></line>
                    <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(144 12 12)"></line>
                    <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(216 12 12)"></line>
                    <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(288 12 12)"></line>
                  </svg>
                </div>
                <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-black lg:text-3xl title-font"> Short length headline. </h1>
                <p class="mx-auto text-base font-medium leading-relaxed text-blueGray-700 ">You're about to launch soon and must be 100% focused on your product. Don't loose precious days designing, coding the landing page and testing . </p>
              </div>
            </div>
          </div>
        </div>
    </section> -->

  {% for data in datas %}
  <div class="container items-center px-3 py-6 lg:px-10">
    <div class="p-2 mx-auto bg-white border rounded-lg shadow-xl lg:w-1/2">
      <div class="flex flex-col items-start py-2 rounded-lg lg:flex-row">
        <div class="flex items-center justify-center w-full lg:justify-start lg:w-1/2">
          <img src="https://dummyimage.com/200x200/F3F4F7/8693ac" alt="placeholder" class="rounded-lg">
        </div>
        <div class="flex flex-col w-full text-blueGray-500 lg:ml-4">
          <h2 class="mt-2 mb-4 text-xs font-semibold tracking-widest text-black uppercase lg:mt-0 title-font">
            {{ data[1] }}
          </h2>
          <p class="mb-1 text-base leading-relaxed text-blueGray-500">
            {{ data[4] }}
          </p>
          <div class="grid grid-cols-2" <p class="mb-1 text-base leading-relaxed text-blueGray-500">
            Author : {{ data[5] }}.
            </p>
            <p class="mb-1 text-base leading-relaxed text-blueGray-500">
              Category : {{ data[9] }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


  <script>
    //Javascript to toggle the menu
    document.getElementById('nav-toggle').onclick = function () {
      document.getElementById("nav-content1").classList.toggle("hidden");
      document.getElementById("nav-content2").classList.toggle("hidden");
    }
  </script>

</body>

</html>